/* GERAIS */
section {
  background-color: var(--cor1);
}

/* -- SOBRE MIM -- */
section#sobreMim {
  height: 100vh;
  padding: 10px 30px;
  justify-content: space-between;
  gap: 60px;
}

#sobreMim article h2 {
  font-size: var(--tamanhoTitulos);
}

#sobreMim picture {
  height: 100%;
}

#sobreMim picture > img {
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

/* HABILIDADES */
section#habilidades {
  width: 90%;
  margin: auto;
}

section#habilidades > h2 {
  font-size: var(--tamanhoTitulos);
}

.linguagem {
  border-right: 2px solid var(--cor5);
  border-radius: 10px 0 0 10px;
}

/* -- PROJETOS -- */
#meusProjetos h2 {
  font-size: var(--tamanhoTitulos);
  background-color: var(--cor1);
}

/* SLIDER */
#slider {
  height: 700px;
  width: 50%;
  margin: auto;
}

#slides {
  gap: 20px;
}

/* PROJETOS */
#projetos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 50px;
  gap: 50px;
}

.projeto {
  padding: 5px;
  border-bottom: 2px solid var(--cor4);
  background-color: var(--cor1);
}

.projeto article {
  padding: 0 20px;
}

.projeto h3 {
  font-size: var(--tamanhoTitulos);
  padding: 10px 0 10px 0;
}

.projeto picture {
  height: 50%;
}

.projeto picture > img {
  border-radius: 10px;
}
