/* HEADER */
header {
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

#botaomenu {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#botaomenu>i {
    font-size: var(--tamanhoTitulos);
}

header nav h2 {
    padding: 5px 0 0 10px;
    font-size: var(--tamanhoParagrafos);
    flex-wrap: wrap;
    flex: 1;
}

header ul {
    display: none;
}

header a {
    text-decoration: none;
}

/* SOBRE MIM */
section#sobreMim {
    gap: 10px;
    flex-wrap: wrap;
}  

/* HABILIDADES */
section#habilidades>h2 {
    padding: 10px;
}

#linguagens {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

#msg {
    padding-top: 10px;
}

/* PROJETOS */
/* SLIDER */
#slides {
    height: 250px;
    width: 200%;
    display: flex;
}