/* -- PROJETOS -- */
#meusProjetos h2 {
    padding: 15px;
    margin-bottom: -15px;
}

/* SLIDER */
#slider {
    height: 350px;
}

/* PROJETOS */
#projetos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.projeto {
    background-color: var(--cor2);
    padding: 10px 5px 5px 5px;
    border-radius: 5px;
}

.projeto h3 {
    text-align: center;
}