@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


/* VARIÃVEIS */
:root {
  --cor1: #000000;
  --cor2: #181818;
  --cor3: #535353;
  --cor4: #7d7d7d;
  --cor5: #cfcfcf;
  --tamanhoTitulos: 2em;
  --tamanhoParagrafos: 1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


/* GERAIS */
body {
  background-color: var(--cor1);
  font-family: Roboto;
  color: var(--cor5);
  position: relative;
}

section {
  background-color: var(--cor2);
  border-radius: 10px;
  box-shadow: inset -1px 4px 11px -8px var(--cor5);
}


/* HEADER */
header {
  background-color: var(--cor1);
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px 0px var(--cor1);
}

#botaomenu {
  display: none;
}

header nav h2 {
  padding: 10px 0 0px 0;
  font-size: var(--tamanhoTitulos);
  display: flex;
  justify-content: center;
}

header ul {
  padding: 0 5px;
  height: 50px;
  flex: 1;
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}

header li {
  font-size: var(--tamanhoParagrafos);
}

header li:hover {
  transform: scale(1.3);
  text-decoration: underline;
  transition: transform 0.3s;
}

header a {
  font-weight: bold;
  color: var(--cor5);
  text-decoration: none;
}


/* MAIN */
main {
  width: 90%;
  margin: 10px auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* SOBRE MIM */
section#sobreMim {
  min-height: 250px;
  padding: 10px;
  display: flex;
}

#sobreMim article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sobreMim article h2 {
  font-size: var(--tamanhoParagrafos);
  padding: 5px 0 5px 0px;
  text-align: center;
}

#sobreMim article p {
  padding: 5px 5px 0 5px;
  text-align: center;
}

#sobreMim picture {
  min-width: 150px;
  margin: auto;
  height: 150px;
  display: flex;
  justify-content: center;
}

#sobreMim picture > img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border: 5px solid var(--cor2);
  outline: 3px solid var(--cor4);
}


/* HABILIDADES */
section#habilidades {
  padding: 10px;
  position: relative;
}

section#habilidades > h2 {
  padding: 10px 0 15px 0;
  text-align: center;
}

#linguagens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.linguagem {
  box-shadow: -1px 1px 5px 0px var(--cor4);
  border-radius: 10px;
  height: 60px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.linguagem:hover {
  background-color: var(--cor3);
  transition: 0.2s;
  padding: 0 15px;
  box-shadow: none;
}

.linguagem:hover .progresso {
  background-color: var(--cor1);
}

.nomeEicone {
  height: 100%;
  width: 40%;
}

.nomeEicone p {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nomeEicone img {
  height: 100%;
  width: 35px;
  padding: 12px 0;
}

.barra {
  background-color: var(--cor5);
  height: 5px;
  border-radius: 10px;
  flex: 1;
}

.progresso {
  background-color: var(--cor3);
  height: 100%;
  border-radius: 10px;
}

#html .progresso {
  width: 80%;
}

#css .progresso {
  width: 85%;
}

#javascript .progresso {
  width: 0%
}

#msg p {
  text-align: center;
  padding: 150px 0 20px 0;
}


/* PROJETOS */
section#meusProjetos {
  background-color: var(--cor1);
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: none;
}

#meusProjetos h2 {
  padding: 15px;
  text-align: center;
  margin-bottom: -15px;
  background-color: var(--cor2);
  border-radius: 5px 5px 0 0;
  box-shadow: inset 0px 8px 8px -8px var(--cor4);
}


/* SLIDER */
#slider {
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
  border-bottom: 2px solid var(--cor4);
}

#slides {
  height: 100%;
  width: 200%;
  display: flex;
}

#slides input {
  display: none;
}

.slide {
  width: 50%;
}

.slide img {
  width: 100%;
  height: 100%;
}

#manual-navigation {
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.manual-btn {
  border: 2px solid var(--cor5);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:hover {
  background-color: var(--cor5);
}

#radio1:checked ~ .first {
  margin-left: 0;
  transition: 1s;
}

#radio2:checked ~ .first {
  margin-left: -50%;
  transition: 1s;
}

#projetos {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--cor1);
}


/* PROJETO */
.projeto {
  background-color: var(--cor2);
  border-radius: 8px;
  box-shadow: inset -1px 4px 11px -8px var(--cor5);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  padding: 15px;
}

.projeto h3 {
  text-align: center;
}

.projeto p {
  text-align: justify;
  padding: 5px 5px 20px 5px;
}

.projeto picture {
  width: 50%;
  height: 150px;
}

.projeto picture > img {
  object-position: bottom;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

footer {
  border-top: 2px solid var(--cor3);
  min-height: 150px;
  padding: 15px 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: var(--cor5);
}

#creditos {
  padding: 15px;
  text-align: justify;
  margin-bottom: 30px;
}

#socialMedias {
  bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#socialMedias a {
  text-decoration: none;
  color: var(--cor5);
}

#socialMedias i {
  font-size: 1.5em;
}
