@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* VARIÃVEIS */
:root {
     --cor1: #000000;
     --cor2: #181818;
     --cor3: #535353;
     --cor4: #7d7d7d;
     --cor5: #cfcfcf;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/* GERAIS */
body {
     background-color: var(--cor1);
     font-family: Roboto;
     color: var(--cor5);
}

img {
     height: 150px;
     width: 100px;
}

section {
     background-color: var(--cor2);
     border-radius: 10px;
     box-shadow: inset -1px 4px 11px -8px var(--cor5);
}

/* HEADER */
header {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

#botaomenu {
     padding: 10px 10px 0 0;
     cursor: pointer;
}

#botaomenu > i{
     font-size: 1.6em;
}

header nav h2{
     padding: 5px 0 0 10px;
     font-size: 1.3em;
     display: flex;
     justify-content: center;
}


header ul  {
     display: none;
}

/* header ul  {
     background-color: yellow;
     padding: 0 5px;
     height: 50px;
     flex: 1;
     display: flex;
     align-items: center;
     list-style-type: none;
     gap: 20px;
} */

header li{
     display: none;
}

/* header li{
     background-color: aqua;
     font-size: 1.1em;
     padding: 5px;
     margin: auto;
     
} */

header a {
     text-decoration: none;
}

/* MAIN */
main {
     width: 90%;
     margin: 10px auto;
     border-radius: 5px;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     gap: 10px;
}

 /* -- SOBRE MIM -- */
section#sobreMim {
     height: 250px;
     padding: 5px;
     display: flex;
}

#sobreMim article {
     display: flex;
     flex-direction: column;
     justify-content: center;
}

#sobreMim article h2 {

     font-size: 1em;
     padding: 5px 0 5px 0px;
     text-align: center;
}

#sobreMim article p {
     padding: 5px 6px 0 5px;
}

#sobreMim picture {
     min-width: 150px;
     margin: auto;
     height: 150px;
     border-radius: 50%;
     display: flex;
     justify-content: center;    
}

#sobreMim picture > img {
     border-radius: 50%;
     height: 100%;
     width: 100%;
}

/* HABILIDADES */
section#habilidades {
     height: 320px;
     padding: 5px;
     position: relative;
}

section#habilidades > h2 {
     padding: 10px;
     text-align: center;
}

#linguagens {
     display: flex;
     flex-flow: column nowrap;
     gap: 6px;     
}

.linguagem {
     border-left: 5px solid rgb(189, 189, 189);
     border-radius: 10px;
     height: 60px;
     padding: 0 10px;
     display: flex;
     align-items: center;
     gap: 20px;
}

.nomeEicone {
     height: 100%;
     width: 40%;
}

.nomeEicone p {
     height: 100%;
     display: flex;
     align-items: center;
     gap: 10px;
}

.nomeEicone img {
    height: 100%;
    width: 35px;
    padding: 12px 0;
}

.barra {
     background-color: var(--cor5);
     height: 5px;
     border-radius: 10px;
     flex: 1;
}

.progresso {
     background-color: var(--cor3);
     height: 100%;
     border-radius: 10px;
}

#html .progresso {
     width: 80%;
}

#css .progresso {
     width: 85%;
}

#javascript .progresso {
     width: 0%;
}

#msg {
     position: absolute;
     bottom: 10px;
}

/* -- PROJETOS -- */
section#meusProjetos {
     background-color: var(--cor1);
     padding-bottom: 10px;
     display: flex;
     flex-direction: column;
     gap: 15px;
}

#meusProjetos h2 {
     padding: 10px;
     text-align: center;
     margin-bottom: -20px;
}

 /* SLIDER */
#slider {
     height: 200px;
     border-radius: 5px;
     overflow: hidden;
}

#slides {

     height: 200px;
     width: 200%;
     display: flex;
}

#slides input {
     display: none;
} 

.slide {
     width: 50%;
}

.slide img {
     width: 100%;
     height: 100%;
}

#manual-navigation {
     width: 100%;
     margin-top: -40px;
     display: flex;
     justify-content: center;
     gap: 15px;
}

.manual-btn {
     border: 2px solid var(--cor5);
     padding: 5px;
     border-radius: 10px;
     cursor: pointer;
     transition: 0.5s;
}

.manual-btn:hover {
    background-color: var(--cor5);
}

#radio1:checked ~ .first {
     margin-left: 0;
     transition: 1s;
}

#radio2:checked ~ .first {
     margin-left: -50%;
     transition: 1s;
}

/* PROJEOS */
.projeto {
     box-shadow: inset -1px 4px 11px -8px var(--cor5);
     background-color: var(--cor2);
     padding: 10px 5px 5px 5px;
     border-radius: 5px;
     display: flex;
     flex-flow: row wrap;
}

.projeto h3 {
     text-align: center;
     padding-bottom: 10px;
}

.projeto p {
     padding: 0 5px 10px 5px;
}

.projeto picture {

     display: flex;
     height: 200px;
     width: 50%;
     margin: auto;
     padding: 5px;
}

.projeto picture > img {
     object-fit: cover;
     object-position: bottom;
     width: 100%;
     height: 100%;
     border-radius: 20px;
}

footer {
     border-top: 2px solid var(--cor3);
     height: 150px;
     display: flex;
     flex-direction: column;
     padding: 10px 20px;
     position: relative;
}


footer i {
     color: var(--cor5);
}

#creditos {
     text-align: justify;
}

#socialMedias {
     position: absolute;
     bottom: 30px;
     display: flex;
     justify-content: center;
     font-size: 0.8em;
     gap: 10px;
}

#socialMedias i {
     font-size: 1.5em;
     color: var(--cor5);
}